@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Noto+Sans+JP:wght@100..900&family=Sedan:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #edf2f4;
}

code {
    font-family: 'Sedan', sans-serif;
}

.organizerRegister {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.organizerRegister-heading {
    color: #333;
    margin-bottom: 30px;
}

.organizerRegister-form {
    display: flex;
    flex-direction: column;
}

.organizerRegister-form input,textarea{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.organizerRegister-form input[type="submit"],.organizerRegister-form button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.organizerRegister-form input[type="submit"]:hover,.organizerRegister-form button:hover {
    background-color: #004494;
}

.organizerRegister .error {
    color: red;
}
